.datecard {
    margin: 10px 50px;
    padding: 10px 10px 15px 10px;
    background-color: white;
    font-size: 56px;
    border-radius: 10px;
    display: inline-block;
}

.sticky {
    position: sticky;
    top: 10px;
    z-index: 1;
}