.article-1 {
    display: flex;
    flex-flow: column nowrap;
}

.article-1__image {
    background-image: url('../images/TH02.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
}

.article-2__image {
    background-image: url('../images/TH03.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
}

.article-1__time {
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
}

.article-1__header {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0px;
}

.article-1__ingress {
   font-weight: normal;
   font-size: 18px; 
   line-height: 1.5;
}

.article-1__byline {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin: 0 0 5px 0;
}

.article-1__additional-info {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}
