.events__card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 46%;
    box-sizing: content-box;
}

.events__card h2 {
    font-size: 40px;
    font-weight: normal;
    padding-right: 15px;
    margin: 5px;
    margin-right: 10px;
    border-right: 1px solid white;
}

.card__info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card__info h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 2px;
}

.card__info h6 {
    font-size: 16px;
    font-weight: normal;
    margin: 2px;
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    
    .events__card {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .events__card h2 {
        border-right: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {

    .events__card {
        width: 100%;
        height: 100px;
        margin-right: 20px;
    }

    .events__card h2 {
        font-size: 30px;
    }

    .card__info {
        width: 250px;
        
    }

    .card__info h5 {
        font-size: 15px;
    }

}
