.content {
  background-color: #efd854;
  height: auto;
  padding-top: 180px;
  font-family: 'Caslon Ionic Web', 'serif';
}

.articles {
  margin: 150px 50px;
}

.articles__top {
  display: grid;
  grid-template-columns: 52% 40%;
  padding-left: 110px;
  justify-content: space-between;
}

.articles__bottom {
  margin: 130px 0;
  display: grid;
  grid-template-columns: 40% 52%;
  padding-right: 110px;
  justify-content: space-between;
}