.filter {
    width: 100vw;
    padding: 10px 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.filter__button {
    background-color: transparent;
    font-family: 'Caslon Ionic Web', 'serif';
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0 4px;
    border: 1px solid black;
}