$minusDeg: random(10) + -10 + deg;
$minusDeg2: random(10) + -10 + deg;
$deg: random(10) + deg;
$deg2: random(10) + deg;
$deg3: random(10) + deg;

.image-stack {
    margin: 200px auto 20px;
    width: 90%;
    padding: 0;
    position: relative;
    max-width: 100%;

}

.image-stack img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}

.image-stack img:hover {
    transform: scale(1.1);
}

.TH01 {
    transform: rotate($deg);
}
.TH02 {
    transform: rotate($minusDeg);
}
.TH03 {
    transform: rotate($deg2);
}
.TH04{
    transform: rotate($minusDeg2);
}
.TH05{
    transform: rotate($deg3);
}

@media screen and (max-width: 1024px) {

    
    .image-stack img:hover {
        transform: none;
    }


}